html{
  background-image: url("../img/orig1.jpg");
  background-position: center center;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
    background-size: cover;
}

body{
  background-color:  #839192 ;
  width: 70%;
  margin: 0 auto;
}

h2{
  padding-top: 30px;
  text-align: center;
}

h1{
  text-align: center;
  color:  #660000;
 
}
  p{
    text-align: justify;
    font-family: "Cambria",sans-serif;
    font-size: 19px;
    margin: 25px;
     text-align: center;
  }
h1 span span{
  font-size: 50px;
  padding: 0px;
  vertical-align: middle;
}

nav {
  list-style-type: none;
  text-align: center;
}

ul li{
  font-size: 20px;
  padding-right:  15px;
  margin-right: 80px;
  
  font-style: italic;
}
ul li a:link,
ul li a:active,
ul li a:visited{
  color: black
}



img{
    width: 550px;
    height: 450px;
    float: center;
    padding: 60px;

} 
