 .premature {
   width: 960px;
   margin: 0 auto;
   background-image: url("../img/clean.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
 }
 
 
body{
  background-color: #5d6d7e;
  width: 70%;
  margin: 0 auto;
}

h2{
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:  #b3b6b7 ;
    padding-left: 5px;
    padding-top: 3px;
  text-align: center;
}

h1{
    text-align: center;
    border-top-width: 5px;
    border: 5px double black;
    color: red;
    text-shadow: 5px 5px 4px black;
 
}
 p{
    text-align: justify;
    font-family: "Cambria",sans-serif;
    font-size: 19px;
    margin: 25px;
  }
h1 span span{
  font-size: 50px;
  padding: 0px;
  vertical-align: middle;
}

nav {
  list-style-type: none;
  text-align: center;
}

ul li{
  font-size: 20px;
  padding-right:  15px;
  margin-right: 80px;
  display: inline-block; 
  font-style: italic;
}
ul li a:link,
ul li a:active,
ul li a:visited{
  color: black
}
.biografia{
  padding: 40px;
  font-size: 20px;
  text-align: justify;
  font-family: Calibri,"Garamond",monospace;
  color:   #660000;
  line-height: 1.5em;
}

.frase {
  text-align: center;
  padding-left: 30px;
font-size: 20px;
font: oblique bold 120% cursive;

}


img{
  width: 235px;
  margin:20px 30px 0px 20px;
  border-radius: 20%;
  float:right;

} 
em{

    font-weight:bold;
}

